.odometer-container {
  display: inline-block;
}

.odometer {
  display: flex;
  justify-content: center;
  font-size: 6rem;
  font-weight: bold;
  color: #1a202c; /* Dark gray */
  overflow: hidden; /* Hide overflow */
}

.odometer-digit {
  display: inline-block;
  animation: roll 0.5s ease-in-out;
}

/* Define the rolling effect */
@keyframes roll {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    transform: translateY(-10%);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
